{% extends "ActiviteCoreBundle::layout.html.twig" %}

{% block title %}
    Formulaire de contact - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
    {#{% set message = app.session.hasgetFlash('info') %}#}
    {#<p>{{ message }}</p>#}
{% endblock %}
